<footer class="footer">
  <small>
    <a href="http://hachimantai.spartacamp.jp/">スパルタキャンプ</a>
    by <a href="http://www.city.hachimantai.lg.jp/">Hachimantai city</a>
    with <a href="http://nowall.co.jp/">NOWALL.inc</a>

  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   '#' %></li>
      <li><%= link_to "Contact", '#' %></li>
      <li><a href="#">News</a></li>
    </ul>
  </nav>
</footer>